body {
    background: #f0ece2; 
    font-family: 'Rufina', serif;   
}

header {
    background-color: #69779b;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    color: #010101;
    padding: 20px;
}

#campoUsuario {
    color: #acdbdf;
    padding: 25px;
}

main {
    display: flex;
}

#parteUsuario {
    display:flex;
}

#usuario {
    font-weight: bold;
    margin-left: 30px;
    padding-top: 50px;
    padding-bottom: 10px;
}

#foto {
    width: 45%;
    border-radius: 5px;
    margin-left: 25px;
}

#foll {
    margin-left: 25px;
    padding: 15px;
}

#parteRepositorio {
    padding-top: 30px;
}

#nomeRep {
    border: solid;
    border-radius: 2px;
    padding: 20px;
}

#foll {
    margin-left: 25px;
}
footer {
    color: #acdbdf;
    background: #69779b;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}