body {
    background: #f0ece2; 
    font-family: 'Rufina', serif;   
}

header {
    background-color: #69779b;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    color: #010101;
    padding: 20px;
}

#buscaUsuario {
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px
}

#btnUsuario {
    border-radius: 9px;
    padding: 5px;
    border: none;
    margin-left: 5px;
}

#campoUsuario {
    color: #acdbdf;
    padding: 25px;
    display:flex;
}

#campoUsuario p {
    padding: 5px;
}

main {
    display: flex;
}

#parteUsuario {
    display:flex;
    text-align: center;
}

#usuario {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

#foto {
    padding: 20px;
    width: 45%;
    border-radius: 150px;
}

#parteRepositorio {
    padding-top: 30px;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
}

#repIndiv {
    border: solid;
    background:#acdbdf;
    border-color: #69779b;
    border-radius: 50px;
    padding: 20px;
    margin: 15px;
    display: flex;
    align-items: center;
}

#repIndiv a {
    text-decoration: none;
    color: #010101;

}

#foll {
    padding: 15px;
    text-decoration: none;
    color: #010101;
}

@media(max-width:768px){
    header{
        flex-direction: column;
        text-align: center;
    }

    h1{
        font-size: 50px;
    }

    #campoUsuario {
        display: block;
    }
    #campoUsuario p {
        padding-bottom: 15px;
        font-size: 20px;
    }
    #buscaUsuario {
        padding: 10px;
        padding-top: 8px;
        font-size: 18px;
        text-align: center;
    }

    #btnUsuario {
        padding-top: 8px;
        padding: 8px;
        font-size: 20px;
        display: block;
        margin-left: 120px;
        margin-top: 10px;
    }
    main {
        flex-direction: column;
        align-items: center;
        font-size: 25px;
    }

    #parteRepositorio {
        flex-direction: column;
        text-align: center;
        margin-right: 0;
    }

}